.options-table-div {
	padding-top: 20px;
	padding-bottom: 10px;
}
.options-table {
	border: 1px solid rgb(223, 223, 223);
	padding: 3px;
	background-color: rgb(255, 255, 255);
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	text-indent: 0;
	color: rgb(98, 98, 98);
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 11px;
}
.mainbox-cart-body td {
	padding: 3px;
}
.qty-opt-table {
	padding-top: 5px;
	vertical-align: middle;
}
.option-table-header {
	background: #383838 url(../../images/picker_title_bg.png) 0 0 repeat-x;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	color: #fff;
	font-weight: 700;
	text-align: center;
	height: 25px;
	/*vertical-align: middle;*/
	padding: 3px;
}
.option-table-header p {
	color: #fff;
	font-size: 80%;
	padding: 0;
}
.option-table-vertical p {
	font-size: 80%;
	padding: 0;
}
td.option-tabel-row-name {
	vertical-align: middle; padding-left: 5px;
}
.option-table-vertical {
	color: rgb(98, 98, 98);
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 11px;
	border: 1px solid rgb(223, 223, 223);
	padding: 3px;
	vertical-align: middle;
}
.input-options-table {
	margin: 0 3px 0 5px;
	text-align: center !important;
	width: 40px;
}
.product-option-background {
	background-color: rgb(247, 207, 182) !important;
}

.options-table-div table tbody {
	display: block;
	overflow: auto;
}

.split-table > table {
	margin-right: 5px;
	box-sizing: border-box;
	float: left;	
}
